<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">
				welcome to the Info page!
			</p>
			<div class="list-group">
				<li class="list-group-item active ">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<img class="image-responsive card-img-top" src="<%= campground.image%>">
				<div class="card-body">
					<h5 class="card-title"><a><%= campground.name%></a></h5>
					<h6 class="card-title text-muted">$<%= campground.price%>/night</h6>
					<p class="card-text"><%= campground.description%></p>
					<p class="card-text">
						<small class="text-muted">
						<em>Submitted By: <%= campground.author.username%></em>
						</small></p>
					<% if(currentUser && currentUser._id.equals(campground.author.id)){ %>
						<a href="/campgrounds/<%= campground._id%>/edit" class="btn btn-warning">Edit</a>
						<form class="delete-form" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="post">
							<button class="btn btn-danger">
								Delete
							</button>
						</form>
					<% } %>
			  	</div>
			</div>
			<br>
			<div class="card card-body">
				<div class="text-right">
					<a class="btn btn-success btn-md"
					   href = "/campgrounds/<%= campground._id%>/comments/new">
						New Comment
					</a>
				</div>
				<hr>
				<% for(let i = 0; i < campground.comments.length; i++){ %>
					<% let comment = campground.comments[i] %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %></strong>
							<span class="float-right"> 7 days ago</span>
							<p>
								<%= comment.text %>
							</p>
							<% if(currentUser && currentUser._id.equals(comment.author.id)){ %>
								<a href="/campgrounds/<%= campground._id%>/comments/<%= comment._id %>/edit"
								   class="btn btn-sm btn-warning">
									Edit
								</a>
								<form class="delete-form" 
									  action="/campgrounds/<%= campground._id%>/comments/<%= comment._id %>?_method=DELETE"
									  method="POST">
									<button class="btn btn-sm btn-danger">
										delete
									</button>
								</form>
							<% } %>
						</div>	
					</div>
					
				<% } %>
			</div>
		</div>
	</div>

		<a class="btn btn-primary btn-lg" href = "/"> view the landing page!</a>
		<a class="btn btn-primary btn-lg" href = "/campgrounds"> view all!</a>
</div>

<%- include("../partials/footer") %>